@import "reset.css"
ul, ol, li {list-style: none; margin: 0; padding:0 ;}

ul.myMenu > li {display: inline-block; width: 200px; padding: 20px 20px 20px 0px;
background: #037f37; color : white ; border:1px ; 
text-align: center; position: relative;}

/* 리스트 정의 */
ul.myMenu > li a {color : white;}
/* 리스트 내 앵커 색 */
ul.myMenu > li:hover {color: yellow;}
/* 리스트 클릭 시 */
ul.myMenu > li a:hover {color : yellow ;}
/* 리스트 내 앵커 클릭시 */
ul.myMenu > li ul.submenu {display: none ; position: absolute; top:62px; right: -10px;}
ul.myMenu > li:hover ul.submenu {display: block;}
/* 서브메뉴 블록화 */
ul.myMenu > li ul.submenu > li {display: inline-block; width: 100px;
    padding: 10px 70px 30px 70px;
    background: #037f37;  text-align: center;}
ul.myMenu > li ul.submenu > li a:hover {color: yellow;}