@import "reset.css";

h1{
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
}


/* 상속자 ->.section1 > h1 {font-size: 60px;} */
.section1 > h1 {font-weight: 700;
     font-size:66px;
    }
.section1 {
    height: 150px; 
    background-color: #506EA5;
}


.section2 > li {
    padding: 20px;
}
.section2{
    float: left; width:25% ; height: 1500px;
    background-color: orange;
}

.section3{
    float: right; width:75% ; height: 1500px;
     background-color: lightgreen;
    }