        /* 에릭마이어 css 리셋 */

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 100;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;}
        /* }
        LI_1{
            padding :20px 15% 20px 15%;
        }
        .content_box {display:flex; justify-content:flex-start; margin:5px; background:#e1e1e1;}
        .content_box > div {border:1px solid #037f37; width:1000px; height:50px; line-height:50px; text-align:center; color:white; margin:2px;}
    a:visited { color: white; }
    a:hover { color: yellow; }
    a:active { color: yellow; }
    ul {
        overflow: hidden;
        list-style: none;
        padding: 0;
        margin=0;
    }  */