@import "reset.css";

h1{
    border-width: 5px;
    border-style: solid;
    border-color: brown;
    /* display: inline; */
    display: inline-block;
    width: 300px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}


a {
    background-color: greenyellow;
    font-size: 20px;
    
    border: 5px solid brown;
    display: block;
    
    padding: 10px 5px 10px 5px;
}